In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
total_alcohol_data=pd.read_csv(r"../Analysis Data/total_alcohol.csv")

# Dane spożycia czystego alkoholu w krajach świata

## Przedstawienie danych statystycznych na temat wypitej ilości butelek wina na jednego mieszkańca w 2010r.

In [3]:
#Wypisanie statystyki
total_alcohol_data.describe()

       total_litres_of_pure_alcohol
count                    193.000000
mean                       4.717098
std                        3.773298
min                        0.000000
25%                        1.300000
50%                        4.200000
75%                        7.200000
max                       14.400000

## Przedstawienie 10 krajów w których jest największe spożycie wina

In [4]:
#wypisanie 10 nabardziej sporzywających piwo
total_alcohol_data.head(10)

              country  total_litres_of_pure_alcohol
0             Belarus                          14.4
1           Lithuania                          12.9
2             Andorra                          12.4
3             Grenada                          11.9
4      Czech Republic                          11.8
5              France                          11.8
6  Russian Federation                          11.5
7             Ireland                          11.4
8            Slovakia                          11.4
9          Luxembourg                          11.4

## Przedstawienie krajów arabskich w zestawieniu

#### Na podstawie informacji o braku wypitego alkoholu w ciągu roku możemy znaleźć państwa arabskie w zestawieniu

In [16]:
arabic_country=total_alcohol_data[total_alcohol_data.total_litres_of_pure_alcohol==0]
print(arabic_country)

              country  total_litres_of_pure_alcohol
180        Bangladesh                           0.0
181        Mauritania                           0.0
182            Monaco                           0.0
183          Maldives                           0.0
184  Marshall Islands                           0.0
185       North Korea                           0.0
186           Somalia                           0.0
187        San Marino                           0.0
188              Iran                           0.0
189            Kuwait                           0.0
190          Pakistan                           0.0
191             Libya                           0.0
192       Afghanistan                           0.0