## Piotr Piwoński, nr albumu: 400846


# Labolatorium nr 2 - Tier Protocol oraz tidy data

In [1]:
import pandas as pd

#### 1. Wczytanie oryginalnego pliku z danymi

In [3]:
data=pd.read_csv(r"../Original Data/drinks.csv")

#### 2. Wypisanie danych znajdujących się w pliku w celu zobracowania znajdujących się kolumn

In [18]:
data.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7

#### 3.Utworzenie plików .csv dla osobnych kategori alkoholu

In [46]:
#Stworzenie pliku dotyczącego sporzycia piwa 
data1=data[['country','beer_servings']]
data1=data1.sort_values(by='beer_servings', ascending=False) #Dokonanie sortowania danych o sporzyciu malejąco
data1.to_csv('../Analysis Data/drinks_beer.csv',index=False)

#Stworzenie pliku dotyczącego sporzycia wódki 
data2=data[['country','spirit_servings']]
data2=data2.sort_values(by='spirit_servings', ascending=False) #Dokonanie sortowania danych o sporzyciu malejąco
data2.to_csv('../Analysis Data/drinks_spirit.csv',index=False) 

#Stworzenie pliku dotyczącego sporzycia wina 
data3=data[['country','wine_servings']]
data3=data3.sort_values(by='wine_servings', ascending=False) #Dokonanie sortowania danych o sporzyciu malejąco
data3.to_csv('../Analysis Data/drinks_wine.csv',index=False)

#### 4. Wczytanie utworzonych plików i sprawdzenie poprawności zapisu

In [48]:
#wczytanie utworzonych plików
new_data1=pd.read_csv(r"../Analysis Data/drinks_beer.csv")
new_data2=pd.read_csv(r"../Analysis Data/drinks_spirit.csv")
new_data3=pd.read_csv(r"../Analysis Data/drinks_wine.csv")

In [52]:
#Sprawdzenie poprawności zapisu przez wypisanie informacji o Dataset
print(new_data1.info())
print(new_data2.info())
print(new_data3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        193 non-null    object
 1   beer_servings  193 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          193 non-null    object
 1   spirit_servings  193 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        193 non-null    object
 1   wine_servings  193 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.1+ KB
None