## Piotr Piwo≈Ñski, nr albumu: 400846


# Labolatorium nr 2 - Tier Protocol oraz tidy data

In [14]:
import pandas as pd

In [16]:
data=pd.read_csv(r"../Original Data/drinks.csv")

In [18]:
data.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7

In [21]:
data1=data['beer_servings']
data1.head(10)

0      0
1     89
2     25
3    245
4    217
5    102
6    193
7     21
8    261
9    279
Name: beer_servings, dtype: int64